// Button
@mixin button($background: $light, $fontColor: $primary) {
	cursor: pointer;
	color: $fontColor;
	margin-top: 30px;
	background-color: $background;
	border: none;
	padding: 17px 40px;
	border-radius: 50px;
	transition: all 300ms ease-in-out;
	text-transform: uppercase;
	&:hover {
		color: $light;
		background-color: $secondary;
	}
}

.classic-button {
	@include button;  
}

.coloured-button {
	@include button($background: $primary, $fontColor: $light);
}

// Section
@mixin button($background: $light, $spanColor: $primary) {
	z-index: 0;
	position: relative;
	padding: $space-big $space-edge;
	background-color: $background;
	h2 {
		span {
			color: $spanColor;
		}
	}
}


.general-section--light {
	@include button;
}

.general-section--primary {
	@include button($background: $primary, $spanColor: $light);
}

.general-section--parallax {
	@include button($background: inherit, $spanColor: $primary);
}
