@import "./utils/variables";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: $primary;
}

padding {
  margin-bottom: 150px;
}

button {
  cursor: pointer;
  color: $primary;
  margin-top: 30px;
  background-color: $light;
  border: none;
  padding: 17px 40px;
  border-radius: 50px;
  transition: all 300ms ease-in-out;
  text-transform: uppercase;
  &:hover {
    color: $light;
    background-color: $secondary;
  }
}

p {
  font-size: 16px;
  line-height: 2;
}

// Header
header, .header-container, .logo-block, .menu ul, .menu a  {
  display: flex;
  align-items: center;
}

header {
  color: $light;
  /* position: absolute; */
  /* margin-top: 50px; */
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background-color: $primary;
  padding: 0 $space-edge;
  z-index: 300;
  .logo-block {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    .logo {
      margin-right: 10px;
    }
    p {
      font-size: 25px;
    }
  }
  .menu {
    height: 100%;
    a {
      border-bottom: 3px solid transparent;
      padding: 0 10px;
      transition: border-color 500ms ease-in-out;
      &:hover {
        border-color:$light;
      }
    }
    ul, a {
      height: 100%;
    }
  }
}

// Presentation
.home {
  color: $light;
  position: relative;
  width: 100%;
  .white-background {
    background-color: $light;
  }
  .background {
    width: 100%;
    padding-top: 200px;
    height: 790px;
    background-color: $primary;
    clip-path: polygon(100% 0, 100% 57%, 0% 100%, 0 100%, 0 0);
    .text-block {
      width: 400px;
      margin-left: $space-edge;
      margin-top: 7%;
      .big-letters {
        font-size: 80px;
        font-weight: bold;
        line-height: 1.1;
      }
    }
  }
  .mobile {
    position:absolute;
    margin-right: 23%;
    right: 0px;
    top: 120px;
    height: 35vw;
    z-index: 200;
  }
}

// PRESENTATION
.presentation {
  background-color: $light;
  height: 100%;
  padding: $space-big 0;
  .cards {
    margin: 0 $space-edge;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:$light;
    text-align: center;
    .presentation__card {
      background-color: $primary;
      width: 350px;
      padding: $space;
      border-bottom: 5px solid transparent;
      transition: border-color 300ms ease-in-out;
      &:hover {
        border-color: $secondary;
        .presentation__card--icon {
          filter: hue-rotate(-178deg) saturate(1) brightness(1.07)
        }
      }
      .presentation__card--icon {
        width: 100px;
        background-color: $light;
        border-radius: 50%;
        padding: $space-small;
        margin-bottom: 30px;
        transition: filter 300ms ease-in-out;
      }
      h2 {
        font-size: 25px;
        margin-bottom: 30px;
      }
      p {
        font-size: 17.5px;
      }
    }
  }
}

.about {
  padding:  $space $space-edge;
  display: flex;
  .mobile {
    margin-top: $space;
  }
  .text-column {
    margin-left: $space-big;
    margin-top: $space;
    h2 {
      margin-bottom: $space-small;
      font-size: 37px;
      font-weight: bold;
    }
    .about-list {
      margin-top: $space;
      display: grid; 
      grid-template-columns: 1fr 1fr; 
      grid-template-rows: 1fr 1fr; 
      gap:  $space  $space; 
      
      .about-list__point {
        .about-list__point--icon{
          width: 50px;
        }
      }
    }
  } 
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.features {
  background-color: $light;
  position: relative;
  padding:  $space-big $space-edge;
  text-align: center;
  .circle {
    position: absolute;
    width: 30vw;
    height: 30vw;
    z-index:0;
    top: 410px;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto; 
    border: 2px dashed $primary;
    border-radius: 100%;
    animation: rotation 60s infinite linear;
    
  }
  h2 {
    font-size: 60px;
    font-weight: bold;
    span {
      color: $primary
    }
  }
  .subtitle {
    font-size: 20px;
    font-weight: bold;
    margin: $space-small 15% $space-big 15%;
  }
  .phone-block { 
    display: flex;
    justify-content: space-between;
    p {
      width: 230px;
      text-align: justify;
    }
    h3 {
      font-size: 20px;
    }
    .phone-block__left, .phone-block__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 75px 0;
    }
    .phone-block__left {
      .title-icon-left {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon {
          margin-left: 10px;
        }
      }
    }
    .phone-block__right {
      .title-icon-right {
        display: flex;
        align-items: center;
        .icon {
          margin-right: 10px;
        }
      }
    }
    .icon {
      width: 50px;
    }
  }
  
}





