@import "./utils/variables";
@import "./layout/layout";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Lato", sans-serif;
	background-color: $primary;
}

p,
a {
	font-size: 16px;
	line-height: 2;
}

h2 {
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	margin-bottom: $space-small;
}

h3 {
	margin-top: 17px;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: $space-small;
}

input {
	width: 25%;
}

textarea {
	font-family: "Lato", sans-serif;
	width: 100%;
}

@keyframes changeColor {
	0% {
		border-bottom: solid 2px $primary;
	}
	99% {
		border-color: $primary;
	}
	100% {
		border-bottom: solid 3px $secondary;
		padding-bottom: 9px;
	}
}

input,
textarea {
	border: none;
	border-bottom: solid 2px $primary;
	outline: 0;
	font-size: 16px;
	padding: 10px 2%;
	margin: $space 2%;
	&:focus-visible {
		border-bottom: solid 3px $secondary;
		padding-bottom: 9px;
		animation-name: changeColor;
		animation-duration: 0.25s;
	}
}

.subtitle {
	font-size: 20px;
	font-weight: bold;
	margin: 0 15% $space-big 15%;
	text-align: center;
}

.logo-block {
	font-family: "Comfortaa", cursive;
	font-size: 30px;
	.logo {
		margin-right: 10px;
	}
	p {
		font-size: 25px;
	}
}

header,
.header-container,
.logo-block,
.menu ul,
.menu a {
	display: flex;
	align-items: center;
}

header {
	position: sticky;
	top: 0;
	color: $light;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 64px;
	background-color: $primary;
	padding: 0 5px;
	z-index: 300;
	@include lg {
		padding: 0 30px;
	}
	@include xl {
		padding: 0 $space-edge;
	}
	.menu {
		display: flex;
		align-items: "center";
		@include md {
		}
		.menu-icon {
			border: 1px solid white;
			padding: 0 5px;
			border-radius: 10%;
			cursor: pointer;
			@include md {
				display: none;
			}
		}
		ul {
			display: none;
			@include md {
				display: flex;
			}
			a {
				border-bottom: 3px solid transparent;
				width: 100%;
				transition: border-color 500ms ease-in-out;
				&:hover {
					border-color: $light;
				}
				@include md {
					padding: 0 10px;
				}
			}
		}
		ul,
		a {
			height: 100%;
		}
		.active {
			padding: 10px 5px 0 5px;
			top: 64px;
			left: 0;
			height: 250px;
			width: 100%;
			display: flex;
			position: absolute;
			flex-direction: column;
			background-color: $primary;
		}
	}
}

#home {
	color: $light;
	position: relative;
	width: 100%;
	.background {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		background-color: $primary;
		padding-top: $space;
		@include md {
			justify-content: space-between;
			flex-direction: row;
			padding: $space 30px 0 30px;
		}
		@include lg {
			padding: $space 30px 0 30px;
		}
		@include xl {
			padding: $space $space-edge 0 $space-edge;
		}
		.text-block {
			width: 400px;
			margin: 0 0 $space-big 0;
			@include md {
				margin-top: 7%;
			}
			.big-letters {
				font-size: 60px;
				font-weight: bold;
				line-height: 1.1;
				@include md {
					font-size: 80px;
				}
			}
		}
		.mobile-container {
			display: flex;
			width: 100%;
			justify-content: center;
			align-items: center;
			@include xl {
				margin-left: 75px;
			}
			.mobile {
				height: 400px;
				@include lg {
					height: 550px;
				}
			}
		}
	}
	.white-background {
		background-color: $light;
		height: 200px;
		clip-path: polygon(0% 100%, 100% 50%, 100% 101%, 0 101%, 0 0);
	}
}

#presentation {
	.cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $light;
		text-align: center;
		@include md {
			flex-direction: row;
			justify-content: center;
		}
		div {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: $space-small;
			}
			@include md {
				&:not(:last-child) {
					margin-bottom: 0;
					margin-right: 40px;
				}
			}
			.presentation__card {
				background-color: $primary;
				padding: $space;
				border-bottom: 5px solid transparent;
				transition: border-color 300ms ease-in-out;
				@include md {
					min-height: 371px;
				}
				@include lg {
					min-height: 421px;
				}
				@include xl {
					min-height: 389;
				}
				&:hover {
					border-color: $secondary;
					.presentation__card--icon {
						filter: hue-rotate(-178deg) saturate(1) brightness(1.07);
					}
				}
				.presentation__card--icon {
					width: 100px;
					background-color: $light;
					border-radius: 50%;
					padding: $space-small;
					margin-bottom: 30px;
					transition: filter 300ms ease-in-out;
				}
				h2 {
					font-size: 25px;
					margin-bottom: 30px;
				}
				@include md {
					padding: $space-small;
				}
				@include lg {
					padding: $space;
				}
			}
		}
	}
}

// ABOUT
#about {
	display: flex;
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include lg {
			flex-direction: row;
		}
		.mobile {
			width: 200px;
			margin-bottom: $space-small;
			@include lg {
				margin-top: $space;
				width: auto;
			}
		}
		.text-column {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			@include lg {
				margin: $space 10px 0 10px;
			}
			@include xl {
				margin: $space $space-small 0 $space-small;
			}
			p {
				text-align: justify;
			}
			h2 {
				margin-bottom: $space-small;
				font-size: 37px;
				font-weight: bold;
			}
			.about-list {
				margin-top: $space;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
				gap: $space $space;

				.about-list__point {
					.about-list__point--icon {
						width: 50px;
						display: block;
						margin: auto;
					}
				}
			}
		}
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

#features {
	@include lg {
		background-color: red;
	}
	@include xl {
		background-color: white;
	}
	.phone-block {
		display: flex;
		justify-content: space-between;
		p {
			text-align: justify;
		}
		.mobile-container {
			position: relative;
			width: 90%;
			display: flex;
			justify-content: center;
			align-items: center;
			.circle {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: -1;
				width: 60%;
				margin: auto;
				animation: rotation 60s infinite linear;
			}
		}
		.phone-block__left,
		.phone-block__right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin: 75px 0;
			.title-icon-left,
			.title-icon-right {
				display: flex;
				align-items: center;
				.icon {
					width: 50px;
					margin-left: 10px;
				}
			}
		}
		.title-icon-left {
			justify-content: flex-end;
		}
	}
}

#screenshots {
	.scrollable,
	.screenshots-container img {
		height: 500px;
	}
	.screenshots-container {
		width: 1000vw;
		padding-left: 36.5vw;
		margin-top: $space-big;
		img {
			position: relative;
			z-index: 0;
			margin: 0 130px;
		}
	}
}

#fun-facts {
	.colored-text {
		color: $light;
	}
	.figures-container {
		display: flex;
		justify-content: space-between;
		.figures {
			border-radius: 50px;
			width: 250px;
			height: 250px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: $light;
			img {
				width: 50px;
			}
			.figure {
				font-size: 50px;
				font-weight: bold;
			}
			p {
				color: $primary;
				font-size: 25px;
			}
		}
	}
}

#team {
	.cards {
		display: flex;
		justify-content: space-between;
		.card {
			position: relative;
			&:hover {
				.card-infos h2 {
					color: $secondary;
				}
				.social-networks {
					transform: translateY(75px);
				}
			}
			.card-infos {
				z-index: 100;
				position: relative;
				width: 250px;
				padding: $space-small;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $light;
				margin-top: $space;
				img {
					width: 125px;
					border-radius: 50%;
					margin-bottom: $space-small;
				}
				h2 {
					color: $primary;
					font-size: 20px;
					margin-bottom: 5px;
				}
				.role {
					margin-bottom: $space-small;
				}
			}
			.social-networks {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 75px;
				width: 100%;
				bottom: 0;
				transition: all 0.5s ease-in-out;
				background-color: $light;
				a {
					margin: 0 5px;
					img {
						height: 25px;
						width: 25px;
					}
				}
			}
		}
	}
}

.details {
	display: flex;
	justify-content: space-between;
}

#map {
	height: 450px;
	width: 100%;
}

footer {
	color: white;
	form {
		border-radius: 50px;
		background-color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 5%;
		input {
			background-color: rgba(158, 158, 158, 0.1);
			border: none;
			border-radius: 50px;
			margin: 0;
			margin-right: 50px;
			height: 50px;
			width: 100%;
			&:focus-visible {
				border: 0;
				animation: none;
			}
		}
		.coloured-button {
			margin: 0;
		}
	}
	.footer-content {
		margin-top: $space-big;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.content-col {
			display: flex;
			flex-direction: column;
			max-width: 300px;
			.footer-description {
				margin-top: 15px;
			}
		}
	}
	#subfooter {
		padding-top: $space-small;
		padding-bottom: $space-small;
		display: flex;
		justify-content: space-around;
		background-color: #202020;
		a {
			color: $primary;
			&:first-child {
				margin-right: 50px;
			}
		}
	}
}
